.img_logo{
    display: flex;
    justify-content: center;
    height: 140px;
}
.img_logo > div{
    width: 1200px;
}
.img_logo > div > img{
    position: absolute;
    width: 302px;
    height: 189px;
    margin-left: -12px;
    margin-top: -12px;
    z-index: 10;
}

/* ====================== menu ======================= */

nav{
    background-color: #ffffff;
    height: 84px;
    width: 100%;
    margin-top: -112px;
    display: flex;
    justify-content: center;
    z-index: 9;
}
.menu_icon{
    width: 1200px;
    display: flex;
}
.icon{
    width: 300px;
}
.icon > img {
    width: 135px;
    height: 84px;
}
.icon > img:nth-child(2){
    display: none;
    width: 40px;
    height: 41px;
    border-radius: 5px;
}
.menu{
    width: 900px;
    height: 58px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 20px;
}
.menu > ul {
    padding: 0;
    display: flex;
    height: 42px;
}
.menu > ul > li {
    list-style: none;
    display: flex;
}
.menu > ul > li:nth-child(1){ width: 148px;}
.menu > ul > li:nth-child(2){ width: 159px;}
.menu > ul > li:nth-child(3){ width: 110px;}
.menu > ul > li:nth-child(4){ width: 254px;}
.menu > ul > li:nth-child(5){ width: 106px;}
.menu > ul > li > a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    margin-left: 1px;
    border-radius: 5px;
    color: #000;
    font-family: 'Raleway', sans-serif;
}
.menu > ul > li:nth-child(4) > a{
    background-color: #D0742E;
    color: white;
}
.menu > ul > li:nth-child(4) > a:hover{
    background-color: #D0742E;
    color: white;
}
.menu > ul > li > a:hover{
    background-color: brown;
    color: white;
}
@media screen and (max-width: 1230px){
    .menu > ul {
        width: 670px;
    }
}
@media screen and (max-width: 1229px){
    .img_logo > div{
        width: 970px;
    }
    .img_logo{
        height: 120px;
    }
    .menu_icon{
        width: 970px;
    }
    .img_logo > div > img{
        margin-top: -65px;
    }
    nav{
        height: 80px;
    }
    .icon > img {
        margin-left: 15px;
        width: 106px;
        height: 66px;
    }
    .menu{
        height: auto;
        align-items: center;
    }
}
@media screen and (max-width: 991px){
    body{
        overflow-x: hidden;
    }
    .img_logo{
        display: none;
    }
    nav{
        height: 282px;
        margin-top: 0px;
        justify-content: flex-start;
    }
    .menu_icon{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .icon{
        width: 750px;
        height: 225px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .icon > img {
        width: 360px;
        height: 225px;
    }
    .icon > img:nth-child(2){
        display: block;
        cursor: pointer;
        background-color: #B9142B;        
    }
    .menu{
        display: none;
    }  
}
@media screen and (max-width: 783px){
    .icon{
        width: 92%;
    }
    .icon > img {
        width: 50%;
        height: auto;
    }
}
@media screen and (max-width: 760px){
    nav{
        height: 280px;
    }
    .menu_icon{
        height: auto;
    }
    .icon{
        width: 92%;
        height: auto;
    }
    .icon > img {
        width: 50%;
        height: auto;
    }
}
@media screen and (max-width: 750px){ nav{ height: 277px; }}
@media screen and (max-width: 700px){ nav{ height: 261px; }}
@media screen and (max-width: 650px){ nav{ height: 246px; }}
@media screen and (max-width: 600px){ nav{ height: 230px; }}
@media screen and (max-width: 550px){ nav{ height: 215px; }}
@media screen and (max-width: 500px){ nav{ height: 199px; }}
@media screen and (max-width: 480px){ nav{ height: 193px; }}

/* ========================= mobile ============================ */
@media only screen and (max-width: 425px){ 
    nav{ 
        height: 180px;
    }
    .icon > img:nth-child(1){
        margin-left: 0;
    }    
}
@media only screen and (max-width: 375px){
    nav{ 
        height: 164px;
    }
}
@media only screen and (max-width: 320px){
    nav{ 
        height: 147px;
    }
}